<div class="content">
        <div class="content_inner">
            <div class="grid">
                <div class="row">
                    <nav class="nav_trending">
                        <label>Tiêu điểm</label>
                        <ul class="trending_list">
                            <li class="trending_item"><a href="#">Diễn biến dịch Covid-19</a></li>
                            <li class="trending_item"><a href="#">Công ty Việt Á</a></li>
                            <li class="trending_item"><a href="#">Trở lại trường</a></li>
                            <li class="trending_item"><a href="#">Ukraina</a></li>
                            <li class="trending_item"><a href="#">V-League</a></li>
                            <li class="trending_item"><a href="#">World Cup 2023</a></li>
                            <li class="trending_item"><a href="#">Olympic</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="grid widget">
                <div class="row">
                    
                    <div class="col-66 l-content">
                        {{#post}}
                        <a href="/{{slug}}">
                            <article class="story">
                                <div class="story__thumb--img">
                                    <img src="/images/{{image}}" alt="anh story" class="story__thumb_img">
                                </div>
                                <div class="story__thumb--text">
                                    <h1 class="story__thumb-text"><a href="#"> Di chứng hậu Covid-19: Càng lo, càng bệnh</a></h1>
                                    <div class="story__thumb_info">
                                        <div class="story__thumb_time">4 phút trước</div>
                                        <div class="story_thumb_dash"> - </div>
                                        <div class="story__thumb_cmt">
                                            <span class="far fa-comment-dots"></span>
                                            <span>0</span>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </a>
                        {{/post}}
                        <div class="grid grid-l">
                            <div class="row">
                                <div class="col-66 l-content">
                                    {{#post1}}
                                    <article class="story story--primary">
                                        <a href="/{{slug}}" class="story__thumb--img">
                                            <img src="/images/{{image}}" alt="anh story" class="story__thumb_img">
                                        </a>
                                        <div class="story__thumb--text">
                                            <h1 class="story__thumb-text"><a href="/{{slug}}"> {{title}}</a></h1>
                                            <div class="story__thumb_info">
                                                <div class="story__thumb_time">{{createAt}}</div>
                                                <div class="story_thumb_dash"> - </div>
                                                <div class="story__thumb_cmt">
                                                    <span class="far fa-comment-dots"></span>
                                                    <span>0</span>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                    {{/post1}}
                                </div>
                                <div class="col-33 editor-pick scroll-style">
                                    {{#post1}}
                                    <article class="story">
                                        <a href="/{{slug}}" class="story__thumb--img">
                                            <img src="/images/{{image}}" alt="anh story" class="story__thumb_img">
                                        </a>
                                        <a href="/{{slug}}" class="story__thumb--text">
                                            <h1 class="story__thumb-text"><a href="#">
                                                <span class="icon__play"><i class="fas fa-play-circle"></i></span>
                                                {{title}}</a></h1>
                                        </a>
                                    </article>
                                    {{/post1}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-33 r-content">
                        <div class="r-content_tabs">
                            <div class="r_tabs_index">
                                <div class="r_tabs_name r_active" onclick="openTabsRightContent(event,'r_tabs_tinmoi')">tin mới</div>
                                <div class="r_tabs_name" onclick="openTabsRightContent(event,'r_tabs_docnhieu')">đọc nhiều</div>
                            </div>
                            <div class="r_tabs_content scroll-style">
                                <div id="r_tabs_tinmoi" class="tabs_content_inner ">
                                    {{#post1}}
                                    <div class="tab_content_text">
                                        <div class="tab_text_time">12:34</div>
                                        <a href="#">
                                            <div class="tab_text_inner">
                                                {{title}}
                                            </div>
                                        </a>
                                    </div>
                                    {{/post1}}
                                </div>
                                <div id="r_tabs_docnhieu" class="tabs_content_inner cl">
                                    {{#post1}}
                                    <div class="tab_content_text">
                                        <div class="tab_text_time">8:37</div>
                                        <a href="#">
                                            <div class="tab_text_inner">
                                                <span><i class="fas fa-play-circle"></i></span>
                                                {{title}}
                                            </div>
                                        </a>
                                    </div>
                                    {{/post1}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="news" id="tin24h">
            <div class="content_inner">
                <h3 class="news_heading padding-20">
                    <a href="#" class="visted--none">
                        <i class="fa-solid fa-clock icon_heading"></i>tin 24h
                    </a>
                </h3>
                <div class="grid-container-5">
                    {{#post1}}
                    <a href="#" class="grid-item">
                        <div class="item__news_thumbnail">
                            <img src="/images/{{image}}" alt="tin tức 24h" class="item__news_img">
                            <h4 class="item__news_heading">{{title}}</h4>
                            <div class="item__news_location">thế giới</div>
                        </div>
                    </a>
                    {{/post1}}
                </div>
            </div>
        </div>
        <div class="news" id="tin360">
            <div class="content_inner">
                <h3 class="news_heading padding-20">
                    <a href="#" class="visted--none">
                        <i class="fa-solid fa-atom icon_heading"></i>tin nhanh 360°
                    </a>
                </h3>
                <div class="grid-container-2">
                    <article  class="grid-item tin360-l">
                        <div class="grid-container-1">
                            <div class="grid-item">
                                {{#post1}}
                                <article class="story story--primary">
                                    <a href="#" class="story__thumb--img">
                                        <img src="/images/{{image}}" alt="anh story" class="story__thumb_img">
                                    </a>
                                    <div class="story__thumb--text">
                                        <h1 class="story__thumb-text"><a href="#">{{title}}</a></h1>
                                        <div class="story__thumb_info">
                                            <div class="story__thumb_time">09:18 16/02/2022</div>
                                            <div class="story_thumb_dash"> - </div>
                                            <div class="story__thumb_cmt">
                                                <span class="far fa-comment-dots"></span>
                                                <span>0</span>
                                            </div>
                                        </div>
                                    </div>
                                    <span class="icon__play"><i class="fas fa-play-circle"></i></span>
                                </article>
                                {{/post1}}
                            </div>
                        </div>
                    </article>
                    <article  class="grid-item tin360-r">
                        {{#post1}}
                        <article class="story story-3-rowLeft">
                            <a href="#" class="story__thumb--img">
                                <img src="/images/strory-2.jpeg" alt="anh story" class="story__thumb_img">
                            </a>
                            <div class="story__thumb--text">
                                <h1 class="story__thumb-text"><a href="#">Tuyển U.23 Việt Nam có thể xách vali về nước khi chưa đá trận nào</a></h1>
                                <div class="story__thumb_info">
                                    <div class="story__thumb_time">8 giờ trước</div>
                                    <div class="story_thumb_dash"> - </div>
                                    <div class="story__thumb_cmt">
                                        <span class="far fa-comment-dots"></span>
                                        <span>0</span>
                                    </div>
                                    <a href="#" class="story__thumb_hastag">
                                        #U.23 Việt Nam
                                    </a>
                                </div>
                            </div>
                            <ul class="story__related">
                                <li>
                                    <i class="fa-solid fa-angle-right icon-list"></i>
                                    <a href="#">10 thói quen của những người khỏe mạnh, bạn được thói quen nào?</a>
                                </li>
                            </ul>
                        </article>
                        {{/post1}}
                    </article>
                </div>
            </div>
        </div>
        <div class="news" id="tinthitruong">
            <div class="content_inner">
                <h3 class="news_heading padding-20">
                    <a href="#" class="visted--none">
                        <i class="fa-solid fa-atom icon_heading"></i>tin thị trường
                    </a>
                </h3>
                <div class="grid-container-2">
                    <article  class="grid-item tin360-l">
                        <div class="grid-container-1">
                            <div class="grid-item">
                                {{#post1}}
                                <article class="story story--primary">
                                    <a href="#" class="story__thumb--img">
                                        <img src="/images/story-1.jpg" alt="anh story" class="story__thumb_img">
                                    </a>
                                    <div class="story__thumb--text">
                                        <h1 class="story__thumb-text"><a href="#">Nguyễn Hồng Nhung nóng bỏng trong ngày lên chức phó chủ tịch hội đồng quản trị</a></h1>
                                        <div class="story__thumb_info">
                                            <div class="story__thumb_time">09:18 16/02/2022</div>
                                            <div class="story_thumb_dash"> - </div>
                                            <div class="story__thumb_cmt">
                                                <span class="far fa-comment-dots"></span>
                                                <span>0</span>
                                            </div>
                                        </div>
                                    </div>
                                    <span class="icon__play"><i class="fas fa-play-circle"></i></span>
                                </article>
                                {{/post1}}
                            </div>
                        </div>
                    </article>
                    <article  class="grid-item tin360-r">
                        {{#post1}}
                        <article class="story story-3-rowLeft">
                            <a href="#" class="story__thumb--img">
                                <img src="/images/strory-2.jpeg" alt="anh story" class="story__thumb_img">
                            </a>
                            <div class="story__thumb--text">
                                <h1 class="story__thumb-text"><a href="#">Tuyển U.23 Việt Nam có thể xách vali về nước khi chưa đá trận nào</a></h1>
                                <div class="story__thumb_info">
                                    <div class="story__thumb_time">8 giờ trước</div>
                                    <div class="story_thumb_dash"> - </div>
                                    <div class="story__thumb_cmt">
                                        <span class="far fa-comment-dots"></span>
                                        <span>0</span>
                                    </div>
                                    <a href="#" class="story__thumb_hastag">
                                        #U.23 Việt Nam
                                    </a>
                                </div>
                            </div>
                            <ul class="story__related">
                                <li>
                                    <i class="fa-solid fa-angle-right icon-list"></i>
                                    <a href="#">10 thói quen của những người khỏe mạnh, bạn được thói quen nào?</a>
                                </li>
                            </ul>
                        </article>
                        {{/post1}}
                    </article>
                </div>
            </div>
        </div>
        <div class="news" id="thoisu">
            <div class="content_inner">
                <h3 class="news_heading padding-20">
                    <a href="#" class="visted--none">
                        <i class="fa-solid fa-atom icon_heading"></i>thời sự
                    </a>
                </h3>
                <div class="grid-container-2">
                    <article  class="grid-item tin360-l">
                        <div class="grid-container-1">
                            <div class="grid-item">
                                {{#post1}}
                                <article class="story story--primary">
                                    <a href="#" class="story__thumb--img">
                                        <img src="/images/story-1.jpg" alt="anh story" class="story__thumb_img">
                                    </a>
                                    <div class="story__thumb--text">
                                        <h1 class="story__thumb-text"><a href="#">Nguyễn Hồng Nhung nóng bỏng trong ngày lên chức phó chủ tịch hội đồng quản trị</a></h1>
                                        <div class="story__thumb_info">
                                            <div class="story__thumb_time">09:18 16/02/2022</div>
                                            <div class="story_thumb_dash"> - </div>
                                            <div class="story__thumb_cmt">
                                                <span class="far fa-comment-dots"></span>
                                                <span>0</span>
                                            </div>
                                        </div>
                                    </div>
                                    <span class="icon__play"><i class="fas fa-play-circle"></i></span>
                                </article>
                                {{/post1}}
                            </div>
                        </div>
                    </article>
                    <article  class="grid-item tin360-r">
                        <article class="story story-3-rowLeft">
                            <a href="#" class="story__thumb--img">
                                <img src="/images/strory-2.jpeg" alt="anh story" class="story__thumb_img">
                            </a>
                            <div class="story__thumb--text">
                                <h1 class="story__thumb-text"><a href="#">Tuyển U.23 Việt Nam có thể xách vali về nước khi chưa đá trận nào</a></h1>
                                <div class="story__thumb_info">
                                    <div class="story__thumb_time">8 giờ trước</div>
                                    <div class="story_thumb_dash"> - </div>
                                    <div class="story__thumb_cmt">
                                        <span class="far fa-comment-dots"></span>
                                        <span>0</span>
                                    </div>
                                    <a href="#" class="story__thumb_hastag">
                                        #U.23 Việt Nam
                                    </a>
                                </div>
                            </div>
                            <ul class="story__related">
                                <li>
                                    <i class="fa-solid fa-angle-right icon-list"></i>
                                    <a href="#">10 thói quen của những người khỏe mạnh, bạn được thói quen nào?</a>
                                </li>
                            </ul>
                        </article>
                        <article class="story story-2-rowLeft">
                            <a href="#" class="story__thumb--img">
                                <img src="/images/story-3.jpg" alt="anh story" class="story__thumb_img">
                            </a>
                            <div class="story__thumb--text">
                                <h1 class="story__thumb-text"><a href="#"> Trên 60 tuổi? Đây là cách để sống thọ hơn hàng chục tuổi</a></h1>
                                <div class="story__thumb_info">
                                    <div class="story__thumb_time">8 giờ trước</div>
                                    <div class="story_thumb_dash"> - </div>
                                    <div class="story__thumb_cmt">
                                        <span class="far fa-comment-dots"></span>
                                        <span>0</span>
                                    </div>
                                    <a href="#" class="story__thumb_hastag">
                                        #U.23 Việt Nam
                                    </a>
                                </div>
                            </div>
                            <ul class="story__related">
                                <li>
                                    <i class="fa-solid fa-angle-right icon-list"></i>
                                    <a href="#">10 thói quen của những người khỏe mạnh, bạn được thói quen nào?</a>
                                </li>
                            </ul>
                        </article>
                    </article>
                </div>
            </div>
        </div>
        <div class="news" id="thoi luan">
            <div class="content_inner">
                <h3 class="news_heading padding-20">
                    <a href="#" class="visted--none">
                        <i class="fa-solid fa-atom icon_heading"></i>thời luận
                    </a>
                </h3>
                <div class="grid-container-2">
                    <article  class="grid-item tin360-l">
                        <div class="grid-container-1">
                            <div class="grid-item">
                                {{#post1}}
                                <article class="story story--primary">
                                    <a href="#" class="story__thumb--img">
                                        <img src="/images/story-1.jpg" alt="anh story" class="story__thumb_img">
                                    </a>
                                    <div class="story__thumb--text">
                                        <h1 class="story__thumb-text"><a href="#">Nguyễn Hồng Nhung nóng bỏng trong ngày lên chức phó chủ tịch hội đồng quản trị</a></h1>
                                        <div class="story__thumb_info">
                                            <div class="story__thumb_time">09:18 16/02/2022</div>
                                            <div class="story_thumb_dash"> - </div>
                                            <div class="story__thumb_cmt">
                                                <span class="far fa-comment-dots"></span>
                                                <span>0</span>
                                            </div>
                                        </div>
                                    </div>
                                    <span class="icon__play"><i class="fas fa-play-circle"></i></span>
                                </article>
                                {{/post1}}
                            </div>
                        </div>
                    </article>
                    <article  class="grid-item tin360-r">
                        <article class="story story-3-rowLeft">
                            <a href="#" class="story__thumb--img">
                                <img src="/images/strory-2.jpeg" alt="anh story" class="story__thumb_img">
                            </a>
                            <div class="story__thumb--text">
                                <h1 class="story__thumb-text"><a href="#">Tuyển U.23 Việt Nam có thể xách vali về nước khi chưa đá trận nào</a></h1>
                                <div class="story__thumb_info">
                                    <div class="story__thumb_time">8 giờ trước</div>
                                    <div class="story_thumb_dash"> - </div>
                                    <div class="story__thumb_cmt">
                                        <span class="far fa-comment-dots"></span>
                                        <span>0</span>
                                    </div>
                                    <a href="#" class="story__thumb_hastag">
                                        #U.23 Việt Nam
                                    </a>
                                </div>
                            </div>
                            <ul class="story__related">
                                <li>
                                    <i class="fa-solid fa-angle-right icon-list"></i>
                                    <a href="#">10 thói quen của những người khỏe mạnh, bạn được thói quen nào?</a>
                                </li>
                            </ul>
                        </article>
                        <article class="story story-2-rowLeft">
                            <a href="#" class="story__thumb--img">
                                <img src="/images/story-3.jpg" alt="anh story" class="story__thumb_img">
                            </a>
                            <div class="story__thumb--text">
                                <h1 class="story__thumb-text"><a href="#"> Trên 60 tuổi? Đây là cách để sống thọ hơn hàng chục tuổi</a></h1>
                                <div class="story__thumb_info">
                                    <div class="story__thumb_time">8 giờ trước</div>
                                    <div class="story_thumb_dash"> - </div>
                                    <div class="story__thumb_cmt">
                                        <span class="far fa-comment-dots"></span>
                                        <span>0</span>
                                    </div>
                                    <a href="#" class="story__thumb_hastag">
                                        #U.23 Việt Nam
                                    </a>
                                </div>
                            </div>
                            <ul class="story__related">
                                <li>
                                    <i class="fa-solid fa-angle-right icon-list"></i>
                                    <a href="#">10 thói quen của những người khỏe mạnh, bạn được thói quen nào?</a>
                                </li>
                            </ul>
                        </article>
                    </article>
                </div>
            </div>
        </div>
        <div class="news" id="taichinh">
            <div class="content_inner">
                <h3 class="news_heading padding-20">
                    <a href="#" class="visted--none">
                        <i class="fa-solid fa-atom icon_heading"></i>tài chính - kinh doanh
                    </a>
                </h3>
                <div class="grid-container-2">
                    <article  class="grid-item tin360-l">
                        <div class="grid-container-1">
                            <div class="grid-item">
                                {{#post1}}
                                <article class="story story--primary">
                                    <a href="#" class="story__thumb--img">
                                        <img src="/images/story-1.jpg" alt="anh story" class="story__thumb_img">
                                    </a>
                                    <div class="story__thumb--text">
                                        <h1 class="story__thumb-text"><a href="#">Nguyễn Hồng Nhung nóng bỏng trong ngày lên chức phó chủ tịch hội đồng quản trị</a></h1>
                                        <div class="story__thumb_info">
                                            <div class="story__thumb_time">09:18 16/02/2022</div>
                                            <div class="story_thumb_dash"> - </div>
                                            <div class="story__thumb_cmt">
                                                <span class="far fa-comment-dots"></span>
                                                <span>0</span>
                                            </div>
                                        </div>
                                    </div>
                                    <span class="icon__play"><i class="fas fa-play-circle"></i></span>
                                </article>
                                {{/post1}}
                            </div>
                        </div>
                    </article>
                    <article  class="grid-item tin360-r">
                        <article class="story story-3-rowLeft">
                            <a href="#" class="story__thumb--img">
                                <img src="/images/strory-2.jpeg" alt="anh story" class="story__thumb_img">
                            </a>
                            <div class="story__thumb--text">
                                <h1 class="story__thumb-text"><a href="#">Tuyển U.23 Việt Nam có thể xách vali về nước khi chưa đá trận nào</a></h1>
                                <div class="story__thumb_info">
                                    <div class="story__thumb_time">8 giờ trước</div>
                                    <div class="story_thumb_dash"> - </div>
                                    <div class="story__thumb_cmt">
                                        <span class="far fa-comment-dots"></span>
                                        <span>0</span>
                                    </div>
                                    <a href="#" class="story__thumb_hastag">
                                        #U.23 Việt Nam
                                    </a>
                                </div>
                            </div>
                            <ul class="story__related">
                                <li>
                                    <i class="fa-solid fa-angle-right icon-list"></i>
                                    <a href="#">10 thói quen của những người khỏe mạnh, bạn được thói quen nào?</a>
                                </li>
                            </ul>
                        </article>
                        <article class="story story-2-rowLeft">
                            <a href="#" class="story__thumb--img">
                                <img src="/images/story-3.jpg" alt="anh story" class="story__thumb_img">
                            </a>
                            <div class="story__thumb--text">
                                <h1 class="story__thumb-text"><a href="#"> Trên 60 tuổi? Đây là cách để sống thọ hơn hàng chục tuổi</a></h1>
                                <div class="story__thumb_info">
                                    <div class="story__thumb_time">8 giờ trước</div>
                                    <div class="story_thumb_dash"> - </div>
                                    <div class="story__thumb_cmt">
                                        <span class="far fa-comment-dots"></span>
                                        <span>0</span>
                                    </div>
                                    <a href="#" class="story__thumb_hastag">
                                        #U.23 Việt Nam
                                    </a>
                                </div>
                            </div>
                            <ul class="story__related">
                                <li>
                                    <i class="fa-solid fa-angle-right icon-list"></i>
                                    <a href="#">10 thói quen của những người khỏe mạnh, bạn được thói quen nào?</a>
                                </li>
                            </ul>
                        </article>
                    </article>
                </div>
            </div>
        </div>
    </div>